AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID="AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="AWS_SECRET_ACCESS_KEY"
WEATHER_API_KEY="WEATHER_API_KEY"
ELEVENLABS_API_KEY="ELEVENLABS_API_KEY"
MANDI_API_KEY="MANDI_API_KEY"
DYNAMODB_TABLE_SESSIONS=grambrain_sessions
DYNAMODB_TABLE_MARKET_DATA=grambrain_market_prices
DYNAMODB_ANALYTICS_TABLE=grambrain_analytics

